body {
    background-color: gray;
    font-family: sans-serif;
    padding: 20px;
  }
  
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
h2 {
    font-size: 30px;
  }
  

  
  h1, h2, p {
    text-align: center;
  }
  
.main {
    border-style: dashed;
    width: 80%;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
  
hr {
    height: 2px;
    background-color: black;
    border-color: black;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
h1, h2 {
    font-family: Impact, serif;
  }
  
.chapter p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
.topic {
    text-align: left;
    width: 75%;
  }
  

  
  /* FOOTER */
  
footer {
    font-size: 14px;
    font-weight: bold;
  }
  
.address {
    margin-bottom: 5px;
  }
  
a {
    color: black;
    text-decoration: none;
  }
  
a:visited {
    color: black;
  }
  
a:hover {
    color: blue;
  }
  
a:active {
    color: brown;
  }